
.vs/Advent/v16/.suo
.vs/Advent/DesignTimeBuild/.dtbcache.v2
bin/Debug/netcoreapp3.1/Advent.deps.json
bin/Debug/netcoreapp3.1/Advent.dll
bin/Debug/netcoreapp3.1/Advent.exe
bin/Debug/netcoreapp3.1/Advent.pdb
bin/Debug/netcoreapp3.1/Advent.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Advent.runtimeconfig.json
bin/Debug/netcoreapp3.1/cs/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/de/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/es/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/fr/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/FSharp.Core.dll
bin/Debug/netcoreapp3.1/it/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ja/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ko/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/pl/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ru/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/tr/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/FSharp.Core.resources.dll
obj/Advent.fsproj.nuget.dgspec.json
obj/Advent.fsproj.nuget.g.props
obj/Advent.fsproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
obj/Debug/netcoreapp3.1/Advent.AssemblyInfo.fs
obj/Debug/netcoreapp3.1/Advent.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Advent.assets.cache
obj/Debug/netcoreapp3.1/Advent.dll
obj/Debug/netcoreapp3.1/Advent.fsproj.CopyComplete
obj/Debug/netcoreapp3.1/Advent.fsproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Advent.fsproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Advent.fsprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Advent.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Advent.pdb
obj/Debug/netcoreapp3.1/apphost.exe
obj/project.assets.json
obj/project.nuget.cache
